<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog kutay | <%= title %></title>
</head>
<body>
    <nav>
        <div class="title">
            <a href=""><h1>blog kuty</h1></a>
        </div>
      <ul>
        <li><a href="/">blogs</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/blogs/create">new blog</a></li>
      </ul>

    </nav>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, eaque deleniti laborum vero porro inventore reprehenderit ea, ratione animi tenetur dolores aut consequatur iste perferendis pariatur nostrum repellendus? Sed, ad!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat accusamus non veritatis nihil dolore ab officiis neque, at deleniti illo, beatae, eligendi id ut eveniet ipsum? Nobis natus laudantium voluptatibus!</p>
    </div>
</body>
</html>