body {
  margin: 0;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 15px;
}

li {
  font-size: larger;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

h2 {
  color: white;
  font-size: x-large;
  margin-bottom: 12px;
}

.container {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  color: white;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: #1f2937;
}

.img1 {
  height: 300px;
  width: 600px;
  margin: 50px;
}

.description {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 30%;
  margin-right: 50px;
}

.sign-button {
  display: block;
  background-color: blue;
  color: white;
  font-size: large;
  padding: 10px 45px;
  border-radius: 25px;
  border: 0px;
}

a {
  text-decoration: none;
}

h1 {
  font-size: xxx-large;
}

.container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-info {
  display: flex;
  gap: 40px;
  justify-content: space-around;
  padding-left: 200px;
  padding-right: 200px;
}
.item {
  flex-basis: 50%;
}

.item img {
  max-width: 90%; /* Scale images down to fit within their parent */
  height: auto; /* Maintain aspect ratio */
  border: 2px solid rgb(78, 78, 255);
  aspect-ratio: 1 / 1;
  border-radius: 20px;
}

.container-3 {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

.cont-desc {
  font-size: xx-large;
  margin: 0px 350px;
  margin-top: 200px;
}
.alt {
  text-align: end;
  margin-right: 350px;
  margin-bottom: 100px;
}

.container-4 {
  background-color: white;
  display: flex;
  justify-content: center;
}

.box {
  background-color: #3882f6;
  margin-top: 90px;
  margin-bottom: 90px;
  padding: 60px 130px;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  border-radius: 15px;
}

.alt-1 {
  color: white;
  font-size: x-large;
  margin: 0;
}

.alt-2 {
  margin: 0;
  color: #e5e7eb;
  font-size: large;
  white-space: nowrap;
}

.box button {
  background-color: #3882f6;
  padding: 10px 35px;
  border: 2px solid white;
  border-radius: 15px;
}

.footer {
  display: flex;
  justify-content: center;
  background: #1f2937;
  color: white;
  font-size: large;
  padding: 40px;
}
