.container {
  display: inline-grid;
  grid-template: 150px 150px 150px 150px/ 190px 570px;
  gap: 15px;
}

.header {
  background-color: green;
  grid-column-start: 1;
  grid-column-end: 3;
}

.sidebar {
  background-color: blue;
  grid-row-start: 2;
  grid-row-end: 4;
}

.nav {
  background-color: blueviolet;
  grid-row-start: 2;
  grid-row-end: 4;
}

.article {
  background-color: purple;
}

.footer {
  background-color: grey;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 3;
}
