<form action="/search">
    <h4>Search with name or email</h4>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
    <label for="email">Email:</label>
    <input type="text" name="email" id="email">
    <button>Search</button>
</form>